.component-hoverable-block {
	display: block;

	transition: opacity 0.2s ease-in-out;

	&:hover {
		opacity: 0.5;
		text-decoration: none;
	}

	&:active,
	&:focus,
	&:visited {
		border: 0 none;
		outline: 0 none;

		h3 {
			text-decoration: none;
		}
	}
}
