// .parallax-content {
// 	position: absolute !important;
// 	width: 100%;
// }

.parallax-img {
	position: relative;
	overflow: hidden;
	height: 100vh;

	&.text-align-bottom {
		.inner {
			justify-content: flex-end;

			.hero-content {
				position: relative;
				top: -50px;
			}
		}
	}

	&.text-align-top {
		.inner {
			justify-content: flex-start;

			.hero-content {
				position: relative;
				top: 75px;
			}
		}
	}



	.bg {
		position: relative;
		z-index: 5;
		height: 100vh;

		// height: 100vh;

		img {
			object-fit: cover;
			display: block;
			width: 100%;
			height: auto;
			position: relative;
			z-index: 5;
		}

		&:after {
			content: " ";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: rgba(0, 0, 0, 0.2);
			z-index: 5;
			width: 100%;
			height: 100%;
		}
	}

	.inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		z-index: 10;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
	}

	.hero-content {
		visibility: hidden;
		opacity: 0;
		position: relative;
		width: 100%;
		transition: all 0.7s ease-out;
		text-align: center;

		@include transform(translate3d(0, 50px, 0));
	}

}
