.route-home {
	.component-hero {
		margin: 0;
		position: relative;
		overflow: hidden;
		height: 100vh;
		padding-left: 0;
		padding-right: 0;

		&:after {
			content: " ";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: rgba(0, 0, 0, 0.2);
			z-index: 5;
			width: 100%;
			height: 100%;
		}

		img {
			object-fit: cover;
			display: block;
			width: 100%;
			height: auto;
			position: relative;
			z-index: 5;
		}

        &.is-active {
            .hero-content {
                visibility: visible;
                opacity: 1;
                @include transform(translate3d(0, 0, 0));
            }
        }

		.inner {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		.hero-content {
			visibility: hidden;
            opacity: 0;
			position: relative;
			width: 100%;
			transition: all 0.7s ease-out;
			text-align: center;

			@include transform(translate3d(0, 50px, 0));

			h1 {
				color: $color-white;
				font-family: $hero-font-family;
				font-size: px-to-rem(66px);
				font-weight: $hero-font-weight;
				margin-top: 0;
				-webkit-font-smoothing: antialiased;
				width: 100%;

				@include lg-and-up {
					font-size: px-to-rem(132px);
				}
			}

			h2 {
				color: $color-white;
				font-family: sans-serif;
				font-size: px-to-rem(32px);
				text-transform: uppercase;

				@include lg-and-up {
					font-size: px-to-rem(46px);
				}
			}

			h1, p {
				text-align: center;
			}


		}
	}

	.component-content-band {
		text-align: center;
		z-index: 50;
		position: relative;
		padding: px-to-rem($section-default-v-padding) 0;

		h1, h2, h3, h4, h5, h6 {
			text-align: center;
		}

		h2 {
			margin-bottom: px-to-rem(20px);
		}

		p {
			text-align: center;
		}
	}

	.component-hero .inner {
	    z-index: 10;
	    position: relative;
		height: 100%;
	}

	.bg {
		background: no-repeat center center;
	    background-size: cover;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    z-index: 1;
	}
}

.component-img-2-col {
	padding: px-to-rem($section-default-v-padding) 0;

	img {
		opacity: 0;
		position: relative;
		@include transition(all 0.7s ease-in-out);


		&.img-left {
			left: -100px;
		}

		&.img-right {
			right: -100px;
		}
	}



	&.is-active img {
		opacity: 1;

		&.img-left {
			left: 0;
		}

		&.img-right {
			right: 0;
		}
	}


}
