
@import "variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootstrap-custom";
@import "bourbon";
@import "mixins";
@import "fonts";
@import url('https://fonts.googleapis.com/css?family=Italianno');

@import "routes/home";

body {
	font-family: $body-font-family;
	font-weight: $body-font-weight;
	color: $color-darkgrey;
}

h1, h2, h3, h4, h5, h6 {
	color: $color-black;
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
}

.scene {
	position: relative;
    overflow: hidden;
	height: 100vh;
	z-index: 50;

	.scene-inner {
		position: absolute;
	    width: 100%;
	    height: 100%;
	    z-index: 100;
	}

	img {
		object-fit: cover;
	}
}

.navbar-default {
	position: fixed;
	z-index: 1000;
	width: 100%;
}
