
@import "variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootstrap-custom";
@import "bourbon";
@import "mixins";
@import "fonts";
// @import url('https://fonts.googleapis.com/css?family=Italianno');
@import url('https://fonts.googleapis.com/css?family=Calligraffitti|Euphoria+Script|Great+Vibes|La+Belle+Aurore|Marck+Script|Tangerine|The+Girl+Next+Door');

@import "components/divider";
@import "components/hotel-modal";
@import "components/hoverable-block";
@import "components/menu";
@import "components/parallax-img";
@import "components/rsvp-modal";

@import "routes/home";

// * {
// 	@include transition(0.7s all ease-in-out);
// }




body {
	font-family: $body-font-family;
	font-weight: $body-font-weight;
	color: $color-darkgrey;
}

h1, h2, h3, h4, h5, h6 {
	color: $color-black;
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
}

a {
	&:hover,
	&:link,
	&:active,
	&:visited {
		text-decoration: none;
	}

	&:hover,
	&:active {
		opacity: 0.7;
	}
}

.scene {
	position: relative;
    overflow: hidden;
	height: 100vh;
	z-index: 50;

	.scene-inner {
		position: absolute;
	    width: 100%;
	    height: 100%;
	    z-index: 100;
	}

	img {
		object-fit: cover;
	}
}

.constrained {
	max-width: calc(100% - #{$grid-gutter-width});
	margin: 0 auto;

	@include md-and-up {
		max-width: 768px;
	}
}

.navbar-default {
	position: fixed;
	z-index: 1000;
	width: 100%;
}

.gi-2x {
	font-size: 20px;
}

.gi-3x {
	font-size: 25px;
}

.gi-4x {
	font-size: 30px;
}

.btn.btn-default.btn-cta {
	color: $color-red;
	background: transparent;
	border: 1px solid $color-red;
	border-radius: 0;
	// font-size: px-to-rem(18px);
	padding: $grid-gutter-width/2 $grid-gutter-width*3;
	text-transform: uppercase;
}

.row.table-row {
	@include md-and-up {
		display: table;

		& > div {
			display: table-cell;
			float: none;
			vertical-align: middle;
		}
	}
}

.navbar.navbar-default {
	transition: all 0.3s ease-in-out;

	&.scrolled {
		background: rgba(0, 0, 0, 0.4);
	}
}


#outer-container {
	& > div[data-radium] {
		position: relative;
		z-index: 10000;
	}

	& > main {
		position: relative;
		z-index: 1000;
		overflow: hidden;
	}
}
